<h3 class="title"><%= post.title %></h3>

<div class="content">
    <%= post.content %>
</div>

<div class="buttons">
    <ul class="inline text-right">
        <li>
            <a class="btn btn-info btn-mini backbone-link" href="/">
                <i class="icon-arrow-left icon-white"></i> Back
            </a>
        </li>

        <li>
            <a class="btn btn-success btn-mini post-edit" href="/posts/<%= post.id %>/edit">
                <i class="icon-pencil icon-white"></i> Edit
            </a>
        </li>
        <li>
            <button class="btn btn-danger btn-mini post-remove"><i class="icon-remove icon-white"></i> Remove</button>
        </li>
    </ul>
</div>





