<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <%= link_to 'BackboneApp', root_path, class: 'brand backbone-link' %>

      <ul class="nav">
        <li>
          <%= link_to 'Create new post', new_post_path %>
        </li>
      </ul>
    </div>
  </div>
</div>